<form id="form-agendamento" method="post" novalidate>
    {% csrf_token %}

    {% if form.non_field_errors %}
        <ul class="erros">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="form-group">
        <label>Serviço *</label>

        <div class="lista-opcoes">
            {{ form.servico }}
        </div>

        {% if form.servico.errors %}
            <p class="erro-campo">{{ form.servico.errors.0 }}</p>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="{{ form.data_agendamento.id_for_label }}">
            Data *
        </label>

        {{ form.data_agendamento }}

        {% if form.data_agendamento.errors %}
            <p class="erro-campo">
                {{ form.data_agendamento.errors.0 }}
            </p>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="{{ form.horario_agendamento.id_for_label }}">
            Horário *
        </label>

        {{ form.horario_agendamento }}

        {% if form.horario_agendamento.errors %}
            <p class="erro-campo">
                {{ form.horario_agendamento.errors.0 }}
            </p>
        {% endif %}
    </div>

    <button type="submit">Agendar</button>
</form>