{% if agendamentos %}
    <ul class="lista-agendamentos lista-3-colunas">
        {% for agendamento in agendamentos %}
            <li>
                <strong>
                    {{ agendamento.data_agendamento }}
                    às
                    {{ agendamento.horario_agendamento }}
                </strong>

                <span>
                    {% for servico in agendamento.servico.all %}
                        {{ servico.nome_servico }}
                        {% if not forloop.last %}, {% endif %}
                    {% empty %}
                        Sem serviço
                    {% endfor %}
                </span>

                <span class="status status-{{ agendamento.status }}">
                    {{ agendamento.get_status_display }}
                </span>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum agendamento cadastrado ainda.</p>
{% endif %}